@import "/src/styles/theme";
@import "/src/styles/typography";
@import "/src/styles/breakpoints";

.container {
  min-height: 85vh;

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    .brochureButton {
      border-radius: 0;
      border-color: white;
      background-color: $primaryColor;
      color: white;
      width: fit-content;
    }

    .mainSection {
      gap: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      min-width: 5rem;
      max-width: 35rem;
      width: 100%;

      .titleText {
        @extend .title;
        color: black;
      }

      .descriptionText {
        @extend .description;
        color: black;
      }
    }

    .mainSectionRight {
      @extend .mainSection;

      .carouselImage {
        width: 300px;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .featureSection {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .normal {
      flex-direction: row;
    }

    .reverse {
      flex-direction: row-reverse;
    }

    .feature {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      object-fit: cover;

      .carouselImage {
        width: 420px;
        height: 250px;
      }

      .featureContent {
        width: 95%;
        @extend .carouseldescription;
        color: black;
        text-align: justify;
      }
    }
  }
}

@include sm {
  .container {
    .main {
      .mainSectionRight {
        .carouselImage {
          width: 300px;
        }
      }
    }
    .featureSection {
      gap: 2rem;
      .feature {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2rem;
        .carouselImage {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
}

@include md {
  .container {
    .main {
      .mainSectionRight {
        .carouselImage {
          width: 500px;
          height: 450px;
        }
      }
    }
    .featureSection {
      .feature {
        .carouselImage {
          width: 300px;
          height: 225px;
        }
      }
    }
  }
}

@include lg {
  .container {
    .main {
      .mainSectionRight {
        .carouselImage {
          width: 500px;
        }
      }
    }
    .featureSection {
      gap: 3rem;
      .feature {
        gap: 2rem;
        .carouselImage {
          width: 450px;
          height: 400px;
        }
      }
    }
  }
}

@include xl {
  .container {
    .main {
      .mainSectionRight {
        .carouselImage {
          width: 600px;
        }
      }
    }
    .featureSection {
      padding: 2rem 4rem;
    }
  }
}

@include xxl {
  .container {
    .main {
      .mainSectionRight {
        .carouselImage {
          width: 900px;
        }
      }
    }
    .featureSection {
      padding: 2rem 4rem;
    }
  }
}
