@import "/src/styles/theme";
@import "/src/styles/typography";
@import "/src/styles/breakpoints";

.container {
  display: flex;
  flex-direction: column;

  .bannerImage {
    max-width: 1920px;
    height: 100%;
    width: 100%;
    min-height: 15rem;
    object-fit: cover;
  }

  .content {
    background: white;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .title {
      @extend .title;
      color: black;
    }

    .subtitle {
      @extend .carouseldescription;
      color: black;
    }

    .contactForm {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;

      .rowInputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;

        .normalInput {
          width: 100%;
        }
      }

      .commentsInput {
        width: 100%;
      }
    }

    .buttonSection {
      display: flex;
      justify-content: flex-end;

      .brochureButton {
        border-radius: 0;
        border-color: white;
        background-color: $primaryColor;
        color: white;
        width: fit-content;
      }
    }
  }

  .contactSection {
    background: #efefef;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .contactTitle {
      @extend .carouseltitle;
      color: black;
    }

    .personnalSection {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: space-between;

      .personnal {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;

        .contactPersonnalTitle {
          @extend .header-bold-medium;
          color: black;
        }

        .contactPersonnalDesc {
          @extend .carouseldescription;
          color: black;
        }
      }
    }
  }
}

@include xl {
  .container {
    .content {
      .contactForm {
        flex-direction: row;
        .rowInputs {
          width: 33%;
        }
        .commentsInput {
          width: 67%;
        }
      }
    }
  }
}

@include xxl {
  .container {
    .bannerImage {
      max-height: 20rem;
    }
    .content {
      padding: 2rem 4rem;
      .contactForm {
        flex-direction: row;
        .rowInputs {
          width: 33%;
        }
        .commentsInput {
          width: 67%;
        }
      }
    }
    .contactSection {
      padding: 2rem 4rem;
    }
  }
}
