@import "/src/styles/theme";
@import "/src/styles/typography";

.container {
  display: flex;
  flex-direction: column;

  .bannerImage {
    height: 100%;
    max-height: 15rem;
  }

  .content {
    background: white;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .title {
      @extend .title;
      color: black;
    }

    .subtitle {
      @extend .carouseldescription;
      color: black;
    }

    .contactForm {
      display: flex;
      gap: 2rem;
      width: 100%;

      .rowInputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 33%;

        .normalInput {
          width: 100%;
        }
      }

      .commentsInput {
        width: 35%;
      }
    }

    .buttonSection {
      display: flex;
      justify-content: flex-end;

      .brochureButton {
        border-radius: 0;
        border-color: white;
        background-color: $primaryColor;
        color: white;
        width: fit-content;
      }
    }
  }

  .contactSection {
    background: #efefef;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .contactTitle {
      @extend .carouseltitle;
      color: black;
    }

    .personnalSection {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .personnal {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;

        .contactPersonnalTitle {
          @extend .header-bold-medium;
          color: black;
        }

        .contactPersonnalDesc {
          @extend .carouseldescription;
          color: black;
        }
      }
    }
  }
}
