@import "/src/styles/theme";
@import "/src/styles/typography";
@import "/src/styles/breakpoints";

.container {
  background: #f1f1f1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .wedge {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .mainSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: black;

    .whySection {
      padding: 1rem 1rem 2rem 2rem;
      width: 100%;
      height: 70%;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      .sectionTitle {
        @extend .title;
      }

      .features {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .featureItem {
          display: flex;
          gap: 1rem;

          .featureImage {
            width: 30px;
            height: 30px;
          }

          .featureLiterals {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .ftTitle {
              @extend .subtitle;
              font-weight: 400;
            }

            .ftDescription {
              @extend .subdescription;
            }
          }
        }
      }
    }
  }
}

@include md {
  .container {
    .mainSection {
      .whySection {
        .features {
          .featureItem {
            max-width: 20rem;
          }
        }
      }
    }
  }
}

@include lg {
  .container {
    .mainSection {
      .whySection {
        .features {
          .featureItem {
            max-width: 25rem;
            .featureImage {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
  }
}

@include xl {
  .container {
    padding: 0 4rem;
    .mainSection {
      .whySection {
        padding: 2rem 0;
        .features {
          .featureItem {
            max-width: 20rem;
          }
        }
      }
    }
  }
}
