@import "/src/styles/theme";
@import "/src/styles/typography";
@import "/src/styles/breakpoints";

.container {
  background: #f1f1f1;
  // height: calc(100vh - 15rem);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .wedge {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .mainSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: black;

    .whySection {
      padding: 1rem 1rem 2rem 2rem;
      width: 100%;
      height: 70%;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      .sectionTitle {
        @extend .title;
        font-size: 35px;
      }

      .features {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .featureItem {
          max-width: 15rem;
          // max-width: 25rem;
          display: flex;
          gap: 1rem;
          // gap: 2rem;

          .featureImage {
            width: 50px;
            height: 50px;
          }

          .featureLiterals {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            // gap: 1rem;

            .ftTitle {
              @extend .featureTitle;
              font-size: 16px;
              line-height: 20px;
            }

            .ftDescription {
              @extend .featureDescription;
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}

@include md {
  .container {
    .mainSection {
      .whySection {
        .sectionTitle {
          font-size: 40px;
        }
        .features {
          .featureItem {
            max-width: 20rem;

            .featureLiterals {
              .ftTitle {
                font-size: 18px;
              }
              .ftDescription {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@include lg {
  .container {
    .mainSection {
      .whySection {
        .sectionTitle {
          font-size: 45px;
        }
        .features {
          .featureItem {
            max-width: 25rem;

            .featureLiterals {
              .ftTitle {
                font-size: 18px;
              }
              .ftDescription {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@include xl {
  .container {
    padding: 0 4rem;
    .mainSection {
      .whySection {
        padding: 2rem 0;
        .features {
          .featureItem {
            max-width: 20rem;

            .featureLiterals {
              .ftTitle {
                font-size: 20px;
                line-height: 24px;
              }
              .ftDescription {
                font-size: 18px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}
