@import "/src/styles/theme";
@import "/src/styles/typography";

.container {
  background: #f1f1f1;
  height: calc(100vh - 15rem);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .wedge {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .mainSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: black;

    .whySection {
      padding: 4rem 4rem 0 4rem;
      width: 100%;
      height: 70%;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      .sectionTitle {
        @extend .title;
      }

      .features {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .featureItem {
          max-width: 25rem;
          display: flex;
          gap: 2rem;

          .featureLiterals {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .ftTitle {
              @extend .featureTitle;
            }

            .ftDescription {
              @extend .featureDescription;
            }
          }
        }
      }
    }
  }
}
