@import "/src/styles/theme";
@import "/src/styles/typography";
@import "/src/styles/breakpoints";

.container {
  background: white;
  height: calc(100vh - 12.25rem);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .wedge {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .brochureButton {
    border-radius: 0;
    border-color: white;
    background-color: $primaryColor;
    color: white;
    width: fit-content;
  }

  .mainSection {
    display: flex;
    flex-direction: column;
    min-width: 5rem;
    max-width: 35rem;
    width: 100%;
    padding: 0 4rem;
    gap: 1rem;

    .titleText {
      @extend .title;
      color: black;
    }

    .descriptionText {
      @extend .description;
      color: black;
    }
  }

  .mainSectionRight {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 5rem;
    max-width: 35rem;
    width: 100%;

    .slickItem {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 4rem;
    }

    .imageSection {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 88%;

      .carouselImage {
        width: 250px;
        height: 100%;
        object-fit: cover;
      }
    }

    .carouselContent {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: calc(100vw - 12rem);

      .carouselTitle {
        @extend .carouseltitle;
        color: black;
      }

      .carouselDescription {
        @extend .carouseldescription;
        color: black;
      }
    }
  }
}

@include md {
  .container {
    .mainSection {
      padding: 0;
      max-width: 35rem;
    }
    .mainSectionRight {
      max-width: 45rem;
      .carouselContent {
        width: 22rem;
      }
    }
  }
}

@include lg {
  .container {
    gap: 2rem;
    padding: 0 4rem;
    flex-direction: row;
    .mainSection {
      max-width: 20rem;
      gap: 1rem;
    }
    .mainSectionRight {
      .carouselImage {
        width: 350px;
        height: 100%;
        object-fit: cover;
      }
      .slickItem {
        flex-direction: column;
      }
      .carouselContent {
        width: 25rem;
      }
    }
  }
}

@include xl {
  .container {
    flex-direction: row;
    .mainSection {
      max-width: 30rem;
    }
    .mainSectionRight {
      .carouselImage {
        width: 500px;
        height: 100%;
        object-fit: cover;
      }
      .carouselContent {
        width: 35rem;
      }
    }
  }
}

@include xxl {
  .container {
    .mainSection {
      max-width: 50rem;
    }
    .mainSectionRight {
      max-width: 50rem;
      .carouselImage {
        width: 750px;
        height: 100%;
        object-fit: cover;
      }
      .carouselContent {
        width: 45rem;
      }
    }
  }
}
