@import "/src/styles/theme";
@import "/src/styles/typography";

.container {
  padding: 0 4rem 4rem 4rem;

  .machineTab {
    position: relative;

    .bannerSection {
      .machineBanner {
        width: calc(100vw - 8rem);
        height: calc((100vh - 9rem - 15rem) / 2);
      }

      .bannerLiterals {
        position: absolute;
        top: 2rem;
        left: 4rem;
        color: black;
        display: flex;
        flex-direction: column;
        max-width: 25rem;

        .bannerTitle {
          @extend .title;
        }

        .bannerDescription {
          font-size: 20px;
        }

        .brochureButton {
          margin-top: 1rem;
          border-radius: 0;
          border-color: white;
          background-color: $primaryColor;
          color: white;
          width: fit-content;
        }
      }
    }

    .featureSection {
      padding-top: 2rem;
      padding-left: 4rem;
      color: black;

      .featureMainTitle {
        @extend .title;
      }

      .features {
        padding-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .featureItem {
          max-width: 20rem;
          display: flex;
          gap: 2rem;

          .featureLiterals {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .ftTitle {
              font-size: 24px;
              font-weight: 600;
            }

            .ftDescription {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
