@import "/src/styles/theme";
@import "/src/styles/typography";
@import "/src/styles/breakpoints";

.container {
  padding: 0 1rem 2rem 1rem;

  .machineTab {
    position: relative;


    .bannerSection {
      .machineBanner {
        width: calc(100vw - 2rem);
        height: calc((100vh - 9rem) / 2);
      }

      .bannerLiterals {
        position: absolute;
        top: 1rem;
        left: 1rem;
        color: black;
        display: flex;
        flex-direction: column;
        max-width: 14rem;
        gap: 0.5rem;

        .bannerTitle {
          @extend .title;
        }

        .bannerDesc {
          @extend .description;
          text-align: justify;
        }

        .brochureButton {
          border-radius: 0;
          border-color: white;
          background-color: $primaryColor;
          color: white;
          width: fit-content;
        }
      }
    }

    .featureSection {
      margin-top: 1rem;
      color: black;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .featureMainTitle {
        @extend .title;
      }

      .features {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .featureItem {
          max-width: 18rem;
          display: flex;
          gap: 1rem;

          .featureLiterals {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .ftTitle {
              font-weight: 600;
              @extend .carouseltitle;
            }

            .ftDescription {
              @extend .carouseldescription;
            }
          }
        }
      }
    }
  }
}

@include sm {
  .container {
    .machineTab {
      .bannerSection {
        .bannerLiterals {
          max-width: 18rem;
        }
      }
    }
  }
}

@include md {
  .container {
    .machineTab {
      .bannerSection {
        .bannerLiterals {
          max-width: 25rem;
        }
      }
      .featureSection {
        .features {
          .featureItem {
            max-width: 22rem;
          }
        }
      }
    }
  }
}

@include lg {
  .container {
    .machineTab {
      .bannerSection {
        .machineBanner {
          height: calc((100vh - 9rem) / 1.5);
        }
        .bannerLiterals {
          top: 2rem;
          max-width: 38rem;
        }
      }
      .featureSection {
        .features {
          gap: 2rem;
          .featureItem {
            max-width: 19rem;
          }
        }
      }
    }
  }
}

@include xl {
  .container {
    padding: 0 4rem 2rem 4rem;
    .machineTab {
      .bannerSection {
        .machineBanner {
          width: calc(100vw - 8rem);
        }
      }
      .featureSection {
        .features {
          .featureItem {
            max-width: 22rem;
          }
        }
      }
    }
  }
}

@include xxl {
  .container {
    .machineTab {
      .bannerSection {
        .machineBanner {
          height: calc((100vh - 9rem - 15rem) / 4.5);
        }
        .bannerLiterals {
          gap: 1rem;
          top: 2rem;
          left: 2rem;
          max-width: 60rem;
        }
      }
      .featureSection {
        .features {
          .featureItem {
            max-width: 25rem;
          }
        }
      }
    }
  }
}
